<div ui-view>

  <div class="panel-default">
    <div class="panel-heading">
      Select Product
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-3" ng-repeat="product in productList">
          <div class="card bg-info" ng-init="product.quantity = 0; showSelectQty[$index] = false">
            <div class="row vertical-align">
              <div class="col-lg-3">
                <div>
                  Name:
                </div><br>
                <label>
                  Rate:
                </label>
              </div>
              <div class="col-lg-9 text-right">
                <div>
                  {{product.name}}
                </div><br>
                <label>
                  {{product.rate}}
                </label>
              </div>
              <div class="col-lg-12">
                <button class="btn btn-danger btn-sm pull-right" ng-if="!showSelectQty[$index]" ng-click="addItem($index)">Add</button>
                <div class="btn-group pull-right" role="group" ng-if="showSelectQty[$index]">
                  <button type="button" class="btn btn-sm btn-danger" ng-click = "removeItem($index)">-</button>
                  <button type="button" class="btn btn-sm btn-danger">{{product.quantity}}</button>
                  <button type="button" class="btn btn-sm btn-danger" ng-disabled="disableAdd" ng-click = "addItem($index)">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button class="pull-right btn btn-success" ng-click="constructRequestBody()">Proceed to Bill</button>
        </div>
      </div>

      <div class="panel-default">
        <div class="panel-heading">
          Bill
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <td>
                  Name
                </td>
                <td>
                  Quantity
                </td>
                <td class="text-right">
                  Rate
                </td>
                <td class="text-right">
                  Tax
                </td>
                <td class="text-right">
                  Cost
                </td>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="billedProducts in billData.billingProductsList">
                <td class="desc">
                  <div>
                    {{billedProducts.product.name}}
                  </div>
                </td>
                <td>
                  <div>
                    {{billedProducts.quantity}}
                  </div>
                </td>
                <td class="text-right">
                  <div>
                    Rs. {{billedProducts.product.rate}}
                  </div>
                </td>
                <td>
                  <div>
                    Rs. {{billedProducts.tax}}
                  </div>
                </td>
                <td class="text-right">
                  <div class="text-success">
                    Rs. {{billedProducts.costAmount}}
                  </div>
                </td>
              </tr>
              </tbody>
              <tfooter>
                <tr>
                  <td></td>
                  <td>
                    <div>
                      {{}}
                    </div>
                  </td>
                  <td>
                    <span class="text-danger">Total:</span>
                    <span class="pull-right">{{}}</span>
                  </td>
                  <td>
                    <div>
                      {{}}
                    </div>
                  </td>
                  <td class="text-right">
                    <div class="h4">
                      {{}}
                    </div>
                  </td>
                </tr>
              </tfooter>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
